
<div class="container col-lg-6">
  <h1 class="text-center">Login</h1>
  <div class="card">
    <div class="card-body">
      <form class="form-group">
        <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
        <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
        <div class="form-group">
          <input type="text" class="login form-control" id="username" [(ngModel)]="username"
            placeholder="Benutzername eingeben" name="username">
        </div>
        <br />
        <div class="form-group">
          <input type="password" class="login form-control" [(ngModel)]="password" id="password"
            placeholder="Passwort eingeben" name="password">
        </div>
        <button (click)=handleLogin() class="btn btn-success login text-center text-uppercase">Anmelden</button>
      </form>
    </div>
  </div>
</div>
